/* Fonts */
@font-face {
  font-family: radio-days;
  src: url("/styles/fonts/RadioDaysNf-POBZ.ttf");
}

@font-face {
  font-family: pixel-tandy;
  src: url("/styles/fonts/PixelTandysoft-0rJG.ttf");
}

/* Natural Tags */

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: #f3a462;
}

/* Classes */

.large {
  font-size: 5vw;
}

.mid {
  font-size: 2.5vw;
}

.small {
  font-size: 1.25;
}

.radio-font {
  font-family: radio-days;
}

.arial-font {
  font-family: Arial, Helvetica, sans-serif;
}

.pixel-font {
  font-family: pixel-tandy;
}

.give-shadow {
  text-shadow: 2px 2px 5px #262626;
}

.button {
  padding: 15px;
  border-radius: 4px;
  font-family: pixel-tandy;
  font-size: 1.5vw;
  box-shadow: 5px 10px 18px black;
  transition: background-color 0.5s;
  cursor: pointer;
}

.button:hover {
  background-color: #4e4b4b;
}

.button-container {
  display: flex;
}

.text-input {
  border: hidden;
  padding: 5px;
  border-radius: 3px;
  background-color: none;
  box-shadow: 5px 10px 18px black;
  outline: none;
}

.center {
  text-align: center;
  margin: auto;
}

.red {
  color: red;
}

/* IDs */

#logo {
  font-family: radio-days;  
  text-shadow: 2px 2px 5px #262626;
  cursor: pointer;
}

#button-placer {
  display: flex;
  gap: 5px;
  justify-content: center;
}

#station-list-text {
  right: 0;
  position: relative;
}

#copy-text {
  display: none;
}

/* Button IDs */

#begin-broadcast {
  background-color: #f39b20;
}

#begin-broadcast:hover {
  background-color: #4e4b4b;
}

/* Pages */

#broadcasting-room {
  display: none;
}

#broadcasting-finish {
  display: none;
}

#station-finder {
  display: none;
}

#quicktime-player {
  display: none;
}